
header {
    min-height: 100vh;
    padding: 100px 10%;
    overflow: hidden;
}

.h-hero{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: (2,1fr);
    align-items: center;
    grid-gap: 4em;
}

span {
    color: var(--color-hover);
}

.h-content {
    max-width: 600px;
}

.h-content p {
    line-height: 1.6;
    margin-top: -2em;
}

.contact {
    display: inline-flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
    align-items: center;
}

.btn-buttons {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--color-hover);
    color: var(--color-bg);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    position: relative; 
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2;
    background: var(--color-bg);
    width: 0;
    height: 100%;
    z-index: -1;
    transition:var(--transition);
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: var(--color-bg);
    color: var(--color-hover);
}

.btn:nth-child(2):hover {
    color: var(--color-bg);
}

.btn:nth-child(2)::before {
    background: var(--color-hover);
}

.socialIcons{
    margin-top: 8rem;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.socialIcons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--color-bg);
    color: var(--color-hover);
    border: 2px solid var(--color-hover);
    transition: .6s;
    box-shadow: 0 0 0.3 #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.socialIcons a:hover {
    color: var(--color-bg);
}

.socialIcons a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0; 
    width: 0;
    height: 100%;
    background: var(--color-hover);
    transition: var(--transition);
    z-index: -1;
}

.socialIcons a:hover::before {
    width: 100%;
}

.boy-img {
    width: 100%;
    max-width: 350px;
    height: 70%;
}